extends /layout.pug

block title
	title= `Gone / ${siteSettings['site-name']}`

block main
	.gone-entry.h-entry
		h1.p-name Gone
		p.e-content This entry has been deleted.
		data.dt-deleted(value="1970-01-01T00:00:00")
