/*! https://unrelenting.technology */
:root {
	--background-color: #efeaf4;
	--accent-color: #706aca;
	--text-color: #34495e;
	--link-color: color(var(--accent-color) shade(35%) l(+10%));
	--content-link-color: #408acc;
	--heading-color: color(var(--text-color) l(-15%));
	--input-color: #f9f9f9;
	--button-color: color(var(--accent-color) shade(10%) l(+10%));
	--layer-1-color: color(var(--background-color) tint(60%));
	--layer-2-color: color(var(--background-color) tint(54%) l(-4.5%));
	--layer-opt-color: color(var(--background-color) tint(54%) l(-10%));

	hyphens: auto;
	background: var(--background-color);
	color: var(--text-color);
	font-size: responsive 1.05rem 1.25rem;
	font-range: 600px 2000px;

	@media screen and (max-width: 600px) {
		font-size: 1.02rem;
	}
}

body {
	word-wrap: break-word;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

pre {
	white-space: pre;

	& code {
		white-space: pre-wrap;
		background: #f8f8f8;
	}
}

code {
	word-wrap: normal;
	white-space: pre;
	font-family: monospace;
}

input, abbr, acronym, blockquote, code, kbd, q, samp, var {
	hyphens: none;
}

img {
	max-width: 100%;
}

.icon {
	height: 1em;
	width: 1em;
	margin: 0 0.1em 0 0.01em;
	vertical-align: -0.16em;
	shape-rendering: geometricprecision;
}

indie-action .icon {
	margin-right: 0.3em;
}

.icon-ref-reason {
	padding: 0.1rem;
	border-radius: 2px;
	color: white;
	width: 1.25em;
	height: 1.25em;
	vertical-align: -0.25em;
}

.icon-ref-reply {
	background: rgb(151, 226, 246);
}

.icon-ref-repost, .icon-ref-quotation {
	background: rgb(53, 237, 146);
}

.icon-ref-like {
	background: rgb(249, 93, 181);
}

.icon-ref-bookmark {
	background: rgb(81, 93, 249);
}

ul, ol {
	list-style-position: inside;
}

ul {
	list-style-type: square;
}

small {
	font-size: 70%;
}

abbr {
	font-variant: small-caps;
	font-weight: 600;
	text-transform: lowercase;
	color: gray;

	&[title] {
		text-decoration: none;
		border-bottom: dashed 1px;

		&:hover {
			cursor: help;
		}
	}
}


sub, sup {
	font-size: 70%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

table {
	border-collapse: collapse;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--heading-color);
}

[fragmention] {
	background: rgba(246, 242, 195, 153);
}

fragmention-exact {
	background: #fff8a7;
}

blockquote {
	border-left: var(--accent-color) 3px solid;
	padding: 0.2em 0 0.2em 0.5em;

	& p:last-of-type {
		margin-bottom: 0;
	}
}

a {
	text-decoration: none;
}

a, body .ref-context-meta a {
	display: inline-block;
	color: var(--link-color);
	transition: ease 0.3s color;

	&:hover, &:focus, &:active {
		color: color(var(--link-color) l(+15%));
		text-decoration: underline;
	}
}

[hidden], data[value], a[data-synd], a[href*="brid.gy/publish"] {
	display: none;
}

.e-content a, .e-note a {
	color: var(--content-link-color);

	&:hover, &:focus, &:active {
		color: color(var(--content-link-color) shade(5%) l(+15%));
	}
}

.pronouns {
	font-size: 0.75em;
	font-weight: normal;
}

.emoji {
	padding: 0 0.15em;

	&:first-child {
		padding-left: 0;
	}
}

.form-field {
	display: flex;
	align-items: stretch;
	padding: 0;
	border-radius: 3px;
	border: 1px solid var(--accent-color);

	& :first-child {
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}

	& :last-child {
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	& input {
		flex: 1;
		background: var(--input-color);
	}

	& button {
		border-left: 1px solid var(--accent-color);
		background: var(--button-color);
		color: var(--background-color);
	}

	& input:focus, & button:hover, & button:focus {
		background: color(var(--input-color) tint(15%));
		color: var(--accent-color);
	}

	& *:focus {
		box-shadow: color(var(--accent-color) a(50%)) 0 0 4px;
	}

	& * {
		vertical-align: baseline;
		padding: 0.5em;
	}
}

.site-header, .site-content {
	margin: 1rem auto;
	width: 96%;

	@media screen and (min-width: 600px) {
		width: 90%;
	}

	@media screen and (min-width: 1100px) {
		width: 85%;
	}

	@media screen and (min-width: 1400px) {
		width: 75%;
	}
}

/* # Header */
.site-header h1 {
	font-size: 1.2em;
	margin-top: 2rem;
}

#author-link {
	opacity: 0;

	&:focus {
		opacity: 1;
	}
}


/* # Content */
.site-content {
	flex: 1;
}

.site-main, .site-author {
	margin: 1rem auto;
	min-width: 0;
}

.site-meta {
	font-size: 0.7em;
}

/* ## Main */
.main-nav {
	font-size: 1.1em;
	margin-bottom: 1rem;

	& > * {
		padding: 0 0.4rem;
	}

	& > *:first-child {
		padding-left: 0;
	}
}

.entry, .site-author-block, .entry-webmention-form {
	background: var(--layer-1-color);
	border: var(--accent-color) 1px solid;
	border-radius: 4px;
	margin-bottom: 1rem;
	overflow: hidden;
}

.site-author-block, .entry-webmention-form {
	padding: 1rem;
}

.site-author-block {
	font-size: 0.9em;
}

.entry-webmention-form {
	background: var(--layer-opt-color);
	font-size: 0.85em;

	& .form-field {
		margin: 1em 0;
	}
}

aside .search-form {
	margin-top: 1em;
	opacity: 0.7;
	font-size: 0.85em;
}

.search-results li {
	padding: 0.6em;

	&:nth-child(even) {
		background: rgba(255, 255, 255, 0.3);
	}
}

.entry * {
	max-width: 100%;
} /* oh ffs flex */

.entry-footer {
	padding: 1rem;
}

.entry-core {
	padding: 0 1rem;

	& > :first-child, & > a + p:first-of-type {
		margin-top: 1rem;
	}

	& :last-child {
		margin-bottom: 0;
	}

	& h1 {
		font-size: 1.3em;
	}

	& h2 {
		font-size: 1.15em;
	}

	& h3 {
		font-size: 1.05em;
	}

	@nest .ref-context & {
		padding: 0;

		& > :first-child, & > a + p:first-of-type {
			margin-top: 0;
		}
	}
}

p, .entry-core blockquote, .entry-core ul, .entry-core ol, .entry-core table, .entry-core pre {
	margin: auto auto 1em;
}

.entry-footer {
	font-size: 0.8em;
	color: #777;

	& a {
		color: var(--link-color);

		&:hover, &:focus, &:active {
			color: color(var(--link-color) l(+15%));
		}
	}
}

.entry-actions indie-action a {
	padding: 0.35rem 1rem 0.35rem 0;
	display: inline-block;
	color: color(var(--link-color) tint(22%));

	&:hover, &:focus, &:active {
		color: color(var(--link-color) tint(18%) l(+15%));
	}
}

.entry-actions indie-action:last-child a {
	padding-right: 0;
}

.entry-photo {
	display: block;

	@nest .index-category & {
		@media screen and (min-width: 600px) {
			max-height: 60vh;
		}
	}
}

.entry-facepile {
	margin: 0.5rem 0.5rem 0.5rem 0;
	display: inline-block;

	& a {
		text-decoration: none;
	}
}

.facepile-avatar {
	display: inline-block;
	margin-right: 0.1rem;
	width: 32px;
	height: 32px;
	min-width: 32px;
	border-radius: 4px;
	font-size: 0.7em;
}

.ref-context {
	background: var(--layer-2-color);
	border-bottom: color(var(--accent-color) l(-10%)) 1px solid;

	@nest .entry-replies & {
		padding-top: 1rem;
	}

	@nest .entry-replies &:first-child {
		border-top: color(var(--accent-color) l(-10%)) 1px solid;
	}

	@nest .entry-replies &:last-child {
		border-bottom: none;
	}
}

.ref-context-reason {
	padding: 0.6rem 0 0.6rem 2rem;
	font-size: 0.8em;
	color: #777;
}

.ref-context-core {
	display: flex;
	align-items: flex-start;
	padding: 0.6rem;
	margin-top: -0.6rem;
}

.ref-context-avatar {
	display: block;
	margin-right: 0.6rem;
	width: 32px;
	height: 32px;
	border-radius: 4px;
	background: #ccc;

	@media screen and (min-width: 400px) {
		width: 48px;
		height: 48px;
		min-width: 48px;
	}
}

.ref-context-meta {
	margin: -0.3rem 0 0;
}

.ref-context-authors {
	font-weight: 500;
}

.ref-context-date {
	font-size: 0.85em;
}

.ref-context-authors::after {
	content: ' \2022 ';
	color: #777;
}

.ref-context-content {
	flex: 1 1 auto;
	min-width: 0;

	& blockquote {
		border-left: none;
		padding-left: 0;
		margin: 0;
	}
}

.ref-context-thread-down {
	border-left: 0.5rem solid #cecece;
}

.search-results {
	list-style-position: outside;
}

.search-snippet {
	font-size: 0.9em;
	opacity: 0.9;
}

.login-form {
	opacity: 0;
}

simple-live {
	position: sticky;
	top: 0;
	width: 100%;
	padding: 1em;
	border-radius: 4px;
	background: #832bfa;
	color: #fff;

	& a {
		color: #f5f5f5;
		text-decoration: underline;

		&:hover, &:focus, &:active {
			color: #fff;
		}
	}
}

@media screen and (max-width: 900px) {
	.site-author {
		margin-top: 5rem;
	}

	.main-nav > * {
		display: block;
		padding: 0.4rem 0;
	}
}

@media screen and (min-width: 900px) {
	.site-content {
		display: flex;
		margin-top: -1rem;
	}

	.site-main {
		order: 2;
		flex: 3 1 auto;
		min-width: 0;
	}

	.site-author {
		margin-right: 2rem;
		min-width: 290px;
		width: 290px;
	}
}

/*! highlighting-kate theme */
code > span.kw {
	color: #204a87;
	font-weight: bold;
} /* Keyword */
code > span.dt {
	color: #204a87;
} /* DataType */
code > span.dv {
	color: #0000cf;
} /* DecVal */
code > span.bn {
	color: #0000cf;
} /* BaseN */
code > span.fl {
	color: #0000cf;
} /* Float */
code > span.ch {
	color: #4e9a06;
} /* Char */
code > span.st {
	color: #4e9a06;
} /* String */
code > span.co {
	color: #8f5902;
	font-style: italic;
} /* Comment */
code > span.ot {
	color: #8f5902;
} /* Other */
code > span.al {
	color: #ef2929;
} /* Alert */
code > span.fu {
	color: #000;
} /* Function */
code > span.er {
	color: #a40000;
	font-weight: bold;
} /* Error */
code > span.wa {
	color: #8f5902;
	font-weight: bold;
	font-style: italic;
} /* Warning */
code > span.cn {
	color: #000;
} /* Constant */
code > span.sc {
	color: #000;
} /* SpecialChar */
code > span.vs {
	color: #4e9a06;
} /* VerbatimString */
code > span.ss {
	color: #4e9a06;
} /* SpecialString */
code > span.va {
	color: #000;
} /* Variable */
code > span.cf {
	color: #204a87;
	font-weight: bold;
} /* ControlFlow */
code > span.op {
	color: #ce5c00;
	font-weight: bold;
} /* Operator */
code > span.pp {
	color: #8f5902;
	font-style: italic;
} /* Preprocessor */
code > span.at {
	color: #c4a000;
} /* Attribute */
code > span.do {
	color: #8f5902;
	font-weight: bold;
	font-style: italic;
} /* Documentation */
code > span.an {
	color: #8f5902;
	font-weight: bold;
	font-style: italic;
} /* Annotation */
code > span.cv {
	color: #8f5902;
	font-weight: bold;
	font-style: italic;
} /* CommentVar */
code > span.in {
	color: #8f5902;
	font-weight: bold;
	font-style: italic;
} /* Information */
