/*! Sweetroll by https://unrelenting.technology */
:root {
	--text-color: #34495e;
	--input-color: #f9f9f9;
	--input-text-color: var(--text-color);
	--link-color: #0b5dc3;
	--active-link-color: #3e8bea;
	--button-color: var(--link-color);
	--button-text-color: #fff;
	--active-button-color: var(--active-link-color);
	--active-button-text-color: #fff;
	--accent-color: var(--link-color);
	background: #f4f3ea;
	color: var(--text-color);
	hyphens: auto;
	font: 100%/1.5 sans-serif;
	font-size: responsive 1.06rem 1.16rem;
	font-range: 600px 1300px;

	@media screen and (max-width: 600px) {
		font-size: 1.02rem;
	}
}

.block {
	padding: 1rem;
	margin-bottom: 1rem;
	overflow: hidden;
	border: 1px solid;
	border-radius: 4px;
	color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
	color: var(--heading-color, var(--text-color));
}

a, body .ref-context-meta a {
	color: var(--link-color);

	&:hover, &:focus, &:active {
		color: var(--active-link-color);
	}
}

blockquote {
	border-color: var(--accent-color);
}

body {
	word-wrap: break-word;
	min-height: 100vh;
}

micro-panel {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

pre {
	white-space: pre;

	& code {
		white-space: pre-wrap;
		background: #f8f8f8;
	}
}

code {
	word-wrap: normal;
	white-space: pre;
	font-family: "Fira Mono", "Source Code Pro", Inconsolata, Consolas, monospace;
}

input, abbr, acronym, blockquote, code, kbd, q, samp, var {
	hyphens: none;
}

h1 {
	font-size: 1.3em;
}

h2 {
	font-size: 1.15em;
}

h3 {
	font-size: 1.05em;
}


img {
	max-width: 100%;
	height: auto;
}

audio, video {
	width: 100%;
}

.responsive-container {
	background-size: cover !important;
	background-repeat: no-repeat !important;
	width: 100%;
	position: relative;

	& > * {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.icon {
	height: 1em;
	width: 1em;
	margin: 0 0.1em 0 0.01em;
	vertical-align: middle;
	shape-rendering: geometricprecision;
	fill: currentColor;
}

indie-action .icon {
	margin-right: 0.3em;
}

.icon-ref-reason, .icon-acl {
	padding: 0.1rem;
	border-radius: 2px;
	color: white;
	width: 1.25em;
	height: 1.25em;
	vertical-align: -0.25em;
}

.icon-ref-reply {
	background: rgb(151, 226, 246);
}

.icon-ref-repost, .icon-ref-quotation {
	background: rgb(53, 237, 146);
}

.icon-ref-like {
	background: rgb(249, 93, 181);
}

.icon-ref-bookmark {
	background: rgb(81, 93, 249);
}

.icon-acl {
	background: rgb(170, 170, 170);
}

.icon-rating {
	stroke: currentColor;
}

.icon-rating.icon-rating-half {
	clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0);
}

.icon-rating.icon-rating-empty {
	fill: transparent;
}

@keyframes blink {
	50% {
		color: transparent;
	}
}

blink {
	animation: blink 1s steps(1) infinite;
}

ul, ol {
	list-style-position: inside;
}

ul {
	list-style-type: square;
}

small {
	font-size: 70%;
}

abbr {
	font-variant: small-caps;
	font-weight: 600;
	text-transform: lowercase;
	color: gray;

	&[title] {
		text-decoration: none;
		border-bottom: dashed 1px;

		&:hover {
			cursor: help;
		}
	}
}


sub, sup {
	font-size: 70%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

table {
	border-collapse: collapse;
}

[fragmention] {
	background: rgba(246, 242, 195, 153);
}

fragmention-exact {
	background: #fff8a7;
}

blockquote {
	border-left: 3px solid;
	padding: 0.2em 0 0.2em 0.5em;

	& p:last-of-type {
		margin-bottom: 0;
	}
}

a {
	text-decoration: none;
}

a, body .ref-context-meta a {
	display: inline-block;
	transition: ease 0.3s color;

	&:hover, &:focus, &:active {
		text-decoration: underline;
	}
}

body .e-content a {
	display: inline;
}

button, input, select, textarea {
	border: none;
}

[hidden], data[value], a[data-synd], a[href*="brid.gy/publish"] {
	display: none;
}

.pronouns {
	font-size: 0.75em;
	font-weight: normal;
}

.emoji {
	padding: 0 0.15em;

	&:first-child {
		padding-left: 0;
	}
}

.form-field {
	display: flex;
	align-items: stretch;
	padding: 0;
	border-radius: 3px;
	border: 1px solid;
	border-color: var(--accent-color);

	& input {
		flex: 1;
		min-width: 3em;
		background: var(--input-color);
		color: var(--input-text-color);
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	& button {
		border-left: 1px solid var(--accent-color);
		background: var(--button-color);
		color: var(--button-text-color);
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	& input:focus {
		background: var(--active-input-color, var(--input-color));
		color: var(--active-input-text-color, var(--input-text-color));
	}

	& button:hover, & button:focus {
		background: var(--active-button-color, var(--button-color));
		color: var(--active-button-text-color, var(--button-text-color));
	}

	& *:focus {
		box-shadow: var(--focus-color, var(--accent-color)) 0 0 4px;
	}

	& * {
		vertical-align: baseline;
		padding: 0.5em;
		border-radius: 3px;
	}
}

/* # Main */
.site-content {
	min-height: 100vh;
	margin: 0 auto;
	width: 96%;
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 40% 60%;
	grid-template-areas: "header header" "main main" "tags footer";

	@media screen and (min-width: 600px) {
		width: 80%;
		grid-template-columns: 60% 40%;
	}

	@media screen and (min-width: 1100px) {
		width: 70%;
	}

	@media screen and (min-width: 1300px) {
		width: 909px;
	}
}

.site-header {
	grid-area: header;
	padding: 2rem 0 1rem;
}

.site-main {
	grid-area: main;
	padding: 0 0 5rem;
}

.site-tags {
	font-size: 0.75em;
	grid-area: tags;
	padding-bottom: 1rem;
}

.site-footer {
	font-size: 0.8em;
	grid-area: footer;
	padding-bottom: 1rem;
}

.main-nav {
	font-size: 1.1em;
	margin-bottom: 2rem;

	& a {
		text-decoration: underline;
	}

	& > * {
		padding: 0 0.4rem;
	}

	& > *:first-child {
		padding-left: 0;
	}
}


.entry {
	padding: 0;
}

footer .search-form {
	margin-top: 1em;
	font-size: 0.85em;
}

.search-results li {
	padding: 0.6em;

	&:nth-child(even) {
		background: rgba(255, 255, 255, 0.3);
	}
}

.entry-footer {
	padding: 1rem;
}

.entry-core {
	padding: 0 1rem;

	& > * {
		margin-top: 0;
		margin-bottom: 1rem !important;
	}

	& > :first-child, & > a + p:first-of-type {
		margin-top: 1rem;
	}

	& :last-child {
		margin-bottom: 0 !important;
	}

	& .hljs {
		border-radius: 3px;
	}

	@nest .ref-context & {
		padding: 0;

		& > :first-child, & > a + p:first-of-type {
			margin-top: 0;
		}
	}
}

p, .entry-core blockquote, .entry-core ul, .entry-core ol, .entry-core table, .entry-core pre {
	margin: auto auto 1em;
}

.entry-footer {
	font-size: 0.8em;
	color: #777;
}

.entry-actions indie-action a {
	padding: 0.35rem 0.5rem 0.35rem 0;
	display: inline-block;
}

.entry-actions indie-action:last-child a {
	padding-right: 0.1rem;
}

.entry-photo {
	margin: 0;

	& picture, & img {
		display: block;
	}
}

.entry-photo-meta {
	padding: 0.5rem;
	font-size: 0.85em;
	background: var(--accent-color);
	color: #fff;
	--link-color: #fff;
	--active-link-color: #fff;

	& a {
		text-decoration: underline;
	}

	& .meta-part {
		margin-right: 0.5em;
	}

	& .icon {
		margin-right: 0.25em;
	}
}

.camera-shutter, .camera-aperture, .camera-iso {
	margin-left: 0.1em;
	margin-right: 0.1em;
}

.meta-part {
	white-space: nowrap;
}

.entry-facepile {
	margin: 0.5rem 0.5rem 0.5rem 0;
	display: inline-block;

	& a {
		text-decoration: none;
	}
}

.facepile-avatar {
	display: inline-block;
	margin-right: 0.1rem;
	width: 32px;
	height: 32px;
	min-width: 32px;
	border-radius: 4px;
	font-size: 0.7em;
}

.ref-context {
	border-bottom: 1px solid;

	@nest .entry-replies & {
		padding-top: 1rem;
	}

	@nest .entry-replies &:first-child {
		border-top: 1px solid;
		border-color: inherit;
	}

	@nest .entry-replies &:last-child {
		border-bottom: none;
	}
}

.ref-context-reason, .entry-acl {
	padding: 0.6rem 0 0.6rem 2rem;
	font-size: 0.8em;
	color: #777;
}

.ref-context-review {
	display: flex;
	align-items: center;
	padding: 1rem;
}

a.review-item-link {
	display: block;
	flex: 1;
}

.ref-context-core {
	display: flex;
	align-items: flex-start;
	padding: 0.6rem;
	margin-top: -0.6rem;
}

.ref-context-avatar {
	display: block;
	margin-right: 0.6rem;
	width: 32px;
	height: 32px;
	border-radius: 4px;
	background: #ccc;

	@media screen and (min-width: 400px) {
		width: 48px;
		height: 48px;
		min-width: 48px;
	}
}

.ref-context-meta {
	margin: -0.3rem 0 0;
}

.ref-context-authors {
	font-weight: 500;
}

.ref-context-date {
	font-size: 0.85em;
}

.ref-context-authors::after {
	content: ' \2022 ';
	color: #777;
}

.ref-context-content {
	flex: 1 1 auto;
	min-width: 0;

	& blockquote {
		border-left: none;
		padding-left: 0;
		margin: 0;
	}
}

.ref-context-thread-down {
	border-left: 0.5rem solid #cecece;
}

.search-results {
	list-style-position: outside;
}

.search-snippet {
	font-size: 0.9em;
	opacity: 0.9;
}

.login-link, .logout-form button {
	margin-top: 1em;
	font-size: 0.7em;
	opacity: 0.6;
	text-decoration: none !important;
	border-bottom: dashed 1px;
}

.login-form {
	opacity: 0;
	font-size: 0.85em;

	&:target {
		opacity: 1;
	}
}

.layer-sticky {
	position: sticky;
	top: 0;
	width: auto;
	padding: 1em;
	margin-bottom: 2rem;
	border-radius: 4px;
	--link-color: #f5f5f5;
	--active-link-color: #fff;
	& a {
		text-decoration: underline;
	}
}

.gallery-row {
	display: flex;
	flex-flow: row wrap;

	& .h-entry {
		flex: 1;
		margin: 4px;
		transition: transform 2s ease-out;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		&:hover, &:focus {
			transform: scale(1.15);
			z-index: 2;
		}
	}
}

.layer-1 {
	background: #fffdf9;
	border-color: #ebd7b0;
}

.layer-2 {
	background: #f5f0e3;
	border-color: #d7c597;
}

form.entry-webmention-form {
	font-size: 0.85em;
	background: #fef8e6;

	& .form-field {
		margin: 1em 0;
	}
}




@media print {
	* {
		box-shadow: none !important;
		text-rendering: optimizeLegibility;
		border-color: #444 !important;
		color: #333 !important;
	}

	.search-form, .login-form, .logout-form, .entry-actions {
		display: none;
	}

	a {
		text-decoration: underline;

		&:not(.ref-context-avatar-link)[href^='http']::after {
			content: ' (' attr(href) ')';
			font-size: 0.9em;
		}
	}

	.icon-ref-reason {
		background: transparent;
		color: #333;
	}

	abbr[title]::after {
		content: ' (' attr(title) ')';
	}

	table, blockquote, pre, code, figure, li, ul, ol, a, tr {
		page-break-inside: avoid;
	}

	h2, h3, h4, p {
		orphans: 3;
		widows: 3;
	}

	h1, h2, h3, h4, h5, h6, img {
		page-break-after: avoid;
		page-break-inside: avoid;

		& + p {
			page-break-before: avoid;
		}
	}

	pre {
		white-space: pre-wrap !important;
		word-wrap: break-word;
	}

	[fragmention] {
		background: rgba(246, 242, 195, 153) !important;
		-webkit-print-color-adjust: exact !important;
		print-color-adjust: exact !important;
	}

	fragmention-exact {
		background: #fff8a7 !important;
		-webkit-print-color-adjust: exact !important;
		print-color-adjust: exact !important;
	}
}
