<%= templates.header(scope) %>
<main class="site-main gone-main h-entry">
	<h1 class="p-name">Gone</h1>
	<p class="e-content">
		This entry has been deleted.
	</p>
</main>
<%= templates.footer(scope) %>
