<p>
	Hello there!
	If you're the owner of this website, you need to edit the <code>templates/author.html</code> file.
	Put your <a href="http://microformats.org/wiki/h-card">h-card</a> markup there.
	Add <a href="https://indiewebcamp.com/rel-me">rel-me</a> links to make <a href="https://indiewebcamp.com/IndieAuth">IndieAuth</a> work.
	Then you can log in to a <a href="https://indiewebcamp.com/Micropub">Micropub</a> client like <a href="https://quill.p3k.io">Quill</a> to publish your posts!
</p>
<p>
	Also see <code>conf/sweetroll.json</code> for various configuration options.
</p>
