<% _.forEach(scope.authors, function (author, i) { %>
	<a class="p-author h-card" href="${ _.head(author.properties.url) }"><%- _.head(author.properties.name) %></a>
	<%= (i - 1 == _.size(scope.authors)) ? ', ' : '' %>
<% }) %>
