<% _.forEach(scope.authors, function (author, i) { %>
	<% var getPronouns = function (kind) {
		return _.map(author.properties['x-pronoun-' + kind] || [],
			function (x) { return '<span class="p-x-pronoun-' + kind + '">' + x + '</span>' })
	} %>
	<% var pronouns = _(getPronouns('nominative')).concat(getPronouns('oblique'), getPronouns('possessive')).value() %>
	<span class="p-author h-card">
		<a class="u-url p-name" href="${ _.head(author.properties.url) }"><%- _.head(author.properties.name) %></a><% if (pronouns.length > 0) { %>
			<sup class="pronouns" title="Use these pronouns to refer to this person!"><%= pronouns.join('/') %></sup>
		<% } %><%= (i - 1 == _.size(scope.authors)) ? ', ' : '' %>
	</span>
<% }) %>
