/*! https://github.com/myfreeweb/sweetroll <3 https://necolas.github.io/normalize.css/ + http://typeplate.com + http://clrs.cc */
html {
	-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;
	font-family: "Helvetica Neue", sans-serif;
	line-height: 1.3;
	background: #fff;
	color: #343434;
}
* { box-sizing: border-box }
body {
	margin: 0;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	-webkit-hyphens: auto; -moz-hyphens: auto; -ms-hyphens: auto; hyphens: auto;
	word-wrap: break-word;
}
input, abbr, acronym, blockquote, code, kbd, q, samp, var {
	-webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block }
audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}
abbr {
	-webkit-font-variant: small-caps; -moz-font-variant: small-caps; -ms-font-variant: small-caps; font-variant: small-caps;
	font-weight: 600;
	text-transform: lowercase;
	color: gray;
}
abbr[title] { border-bottom: 1px dotted }
abbr[title]:hover { cursor: help }
b, strong { font-weight: bold }
dfn { font-style: italic }
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	line-height: 1;
	text-rendering: optimizeLegibility;
}
.giga {
	font-size: 90px; font-size: 5rem; 
	margin-bottom: 5.94px; margin-bottom: 0.33rem;
}
.mega {
	font-size: 72px; font-size: 4rem; 
	margin-bottom: 7.425px; margin-bottom: 0.4125rem;
}
.alpha {
	font-size: 60px; font-size: 3.33333rem; 
	margin-bottom: 8.91px; margin-bottom: 0.495rem;
} 
.beta {
	font-size: 48px; font-size: 2.6667rem; 
	margin-bottom: 11.1375px; margin-bottom: 0.61875rem;
}
h1, .gamma {
	font-size: 36px; font-size: 2rem; 
	margin-bottom: 14.85px; margin-bottom: 0.825rem;
}
h2, .delta {
	font-size: 24px; font-size: 1.3333333333333333rem; 
	margin-bottom: 22.275px; margin-bottom: 1.2375rem;
}
h3, .epsilon {
	font-size: 21px; font-size: 1.16667rem; 
	margin-bottom: 25.45714px; margin-bottom: 1.41429rem;
} 
h4, h5, h6, .zeta {
	font-size: 18px; font-size: 1rem; 
	margin-bottom: 29.7px; margin-bottom: 1.65rem;
}
p, pre, figure, blockquote { margin: auto auto 1.5em }
p:last-child { margin-bottom: 0.5em; }
mark {
	background: #ff0;
	color: #000;
}
small { font-size: 80% }
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup { top: -0.5em }
sub { bottom: -0.25em }
img {
	border: 0;
	max-width: 100%;
}
pre {
	overflow: auto;
	white-space: pre;
}
code, kbd, pre, samp {
	font-family: Menlo, Consolas, monospace, monospace;
	font-size: 1em;
}
pre code {
	word-wrap: normal;
	white-space: -moz-pre-wrap; white-space: pre-wrap;
}
code {
	white-space: pre;
	font-family: monospace;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td, th { padding: 0 }
ul { list-style: square }
ul, ol {
	padding-left: 0;
	list-style-position: inside;
}
a {
	color: #0074df;
	transition: ease-in-out color 0.3s;
	text-decoration: none;
}
a:hover, a:focus, a:active { color: #7fdbff; text-decoration: underline }
a.self-link { color: #343434; text-decoration: none; }
.fa-l { margin-right: 0.25em }
.fa-r { margin-left: 0.25em }
.site-content, .index-main { display: -webkit-flex; display: flex; -webkit-flex-direction: column; flex-direction: column }
.site-content { -webkit-flex: 1; flex: 1 }
.site-author { -webkit-order: 10; order: 10 }
.site-footer {
	padding: 1em 0;
	font-size: 90%;
	color: #777;
}
.site-header { padding: 2em 0 }
.site-header, .site-content, .site-footer {
	width: 96%;
	margin: 0 auto;
}
.entry-in-list {
	list-style-type: none;
	display: block;
	padding: 1em 0 0.5em;
	border-bottom: 1px solid transparent;
	border-top: 1px solid #39cccc;
	border-top: 1px solid rgba(57, 204, 204, 0.52)
	transition: ease-in-out border-color 0.3s;
}
.entry-in-list:nth-child(even) { background: #fdfdfd }
.entry-in-list:hover { border-color: #2ecc40 }
.entry-in-list:hover + .entry-in-list { border-color: transparent }
.entry-in-list:first-child { border-top: none }
.entry-in-list .entry-footer { font-size: 90%; text-align: right }
.entry-in-list .entry-footer, .entry-in-list .entry-footer a {
	font-size: 90%;
	color: #aaa;
}
.note-entry { border: 1px solid; border-color: #39cccc; border-color: rgba(57, 204, 204, 0.3) }
.note-entry .entry-header { font-size: 90%; margin-bottom: 1em; }
.note-entry .entry-header, .note-entry .entry-header a { color: #aaa }
.note-entry .entry-content { font-size: 110% }
.note-entry .entry-footer { border-top: 1px solid; border-color: #39cccc; border-color: rgba(57, 204, 204, 0.45); padding: 0.5em 0 0; }
.entry-footer {
	color: #999;
	font-size: 95%;
	line-height: 1.7;
}
.entry-main .entry-header, .entry-main .entry-content, .entry-main .entry-footer { margin: 16px; margin: 1rem; }
.entry-main .entry-footer a { margin-left: 0.5em }
.entry-main .entry-footer .entry-actions indie-action:first-child a { margin-left: 0 }
.entry-footer h2 {
	font-size: 100%;
	display: inline;
}
.entry-syndication ul, .entry-syndication li { display: inline }
.social-profiles {
	list-style-type: none;
	line-height: 1.7;
}
@media screen and (min-width:32em) { 
	html { line-height: 1.4 }
	.site-header, .site-content, .site-footer { width: 75% }
	.entry-in-list .entry-footer { padding-right: 1em }
}
@media screen and (min-width:56em) { 
	.site-header, .site-content, .site-footer { width: 90% }
	body { font-size: 105% }
	.site-content, .index-main { -webkit-flex-direction: row; flex-direction: row }
	.site-author { -webkit-flex: 1; flex: 1; -webkit-order: 0; order: 0 }
	.site-main { -webkit-flex: 3; flex: 3; padding-left: 1em; }
	.index-main { overflow-x: scroll }
	.index-category {
		flex: 1; -webkit-flex: 1;
		min-width: 30%;
		max-width: 100%;
		padding: 0 1em 0 0;
	}
	.index-category:last-child { padding: 0 }
	#author-link { display: none; }
}
@media screen and (min-width:80em) { 
	.site-header, .site-content, .site-footer { width: 80% }
	.site-header { padding: 3em 0 }
	.site-main { padding-left: 3.4em }
	.note-entry { max-width: 60em }
	.entry-in-list { padding: 2em 0 1em }
	.entry-in-list .entry-footer { margin-top: 1em; }
}
@media screen and (min-width:100em) { 
	.site-header, .site-content, .site-footer { width: 65% }
}
