<main class="site-main entry-main$if(isNote)$ note-main$endif$">
	<article class="entry h-entry$if(isNote)$ note$else$article$endif$-entry">
		<header class="entry-header">
			$if(isNote)$$else$
			<h1 class="p-name">
				<a href="$permalink$" class="u-url u-uid" rel="bookmark">$name$</a>
			</h1>
			$endif$
			posted <time class="dt-published" datetime="$publishedAttr$">
				$if(isNote)$<a href="$permalink$" class="u-url u-uid note-permalink" rel="bookmark">$endif$
				$published$
				$if(isNote)$</a>$endif$
			</time>
			$if(isReply)$
			in reply to <a class="u-in-reply-to" rel="in-reply-to" href="$replyForUrl$">$replyForName$</a>
			$endif$
			$if(isRepost)$
			repost of <a class="u-repost-of" rel="repost-of" href="$repostOfUrl$">$repostOfName$</a>
			$endif$
		</header>
		$if(isLike)$
		<div class="entry-content">
			Liked <a class="u-like-of" rel="like-of" href="$likeOfUrl$">$likeOfName$</a>.
		</div>
		$else$
		<div class="entry-content e-content$if(isNote)$ p-name$endif$">
			$content$
		</div>
		$endif$
		<footer class="entry-footer">
			<div class="entry-actions">
				<indie-action do="reply" with="$permalink$">
				</indie-action>
				<indie-action do="repost" with="$permalink$">
				</indie-action>
				<indie-action do="like" with="$permalink$">
				</indie-action>
			</div>
			$if(hasSyndication)$
			<div class="entry-syndication">
				<h2>Elsewhere</h2>
				<ul>
					$for(repost in syndication)$
					<li><a class="u-syndication" rel="syndication" href="$repost$">$syndicationName(repost)$</a></li>
					$endfor$
				</ul>
			</div>
			$endif$
			<nav class="entry-nav">
				<h2>Navigation</h2>
				$if(hasPrev)$<a href="$prevHref$" rel="prev">&larr; previous</a>$endif$
				<a rel="up category" class="p-category" href="$categoryHref$">$category$</a>
				$if(hasNext)$<a href="$nextHref$" rel="next">next &rarr;</a>$endif$
			</nav>
		</footer>
	</article>
</main>
