<main class="site-main entry-main $if(isUntitled)$note$else$article$endif$-main">
	<article class="entry h-entry $if(isUntitled)$note$else$article$endif$-entry">
		<header class="entry-header">
			$if(isUntitled)$$else$
			<h1 class="p-name">
				<a href="$permalink$" class="u-url u-uid" rel="bookmark" tabindex="-1">$name$</a>
			</h1>
			$endif$

			posted <time class="dt-published" datetime="$publishedAttr$">
				$if(isUntitled)$<a href="$permalink$" class="u-url u-uid note-permalink" rel="bookmark">$endif$
				$published$
				$if(isUntitled)$</a>$endif$
			</time>

			$for(reply in replyContexts)$
			<div class="reference-context reply-context u-in-reply-to h-cite">
				in reply to
				<a class="p-name u-url" rel="in-reply-to" href="$reply.url$">$reply.name$</a>
				$if(reply.hasAuthors)$
				($for(author in reply.authors)$<a class="p-author h-card" href="$author.url$">$author.name$</a>$sep$, $endfor$)
				$endif$
				<blockquote class="reply-content">
					$reply.content$
				</blockquote>
			</div>
			$endfor$

			$for(repost in repostContexts)$
			<div class="reference-context repost-context u-repost-of h-cite">
				$if(repost.hasAuthors)$
				<a class="u-url" rel="repost-of" href="$repost.url$">repost</a> from
				$for(author in repost.authors)$<a class="p-author h-card" href="$author.url$">$author.name$</a>$sep$, $endfor$
				$endif$
			</div>
			$endfor$

		</header>

		$if(likeContexts)$
		<div class="entry-content p-name">
			<div class="u-like-of h-cite">
			$for(like in likeContexts)$
			Liked <a class="u-url" rel="like-of" href="$like.url$">$like.name$</a>$if(like.hasAuthors)$
			($for(author in like.authors)$<a class="p-author h-card" href="$author.url$">$author.name$</a>$sep$, $endfor$)$endif$.
			$endfor$
			</div>
		</div>
		$endif$

		$if(hasContent)$
		$if(isUntitled)$$else$<fragmention-target exact>$endif$
		<div class="entry-content e-content$if(isUntitled)$ p-name$endif$">
			$content$
			$if(isUntitled)$$else$</fragmention-target>$endif$
		</div>
		$endif$

		<footer class="entry-footer">
			<div class="entry-actions">
				<indie-action do="reply" with="$permalink$">
					<a href="$if(hasTwitterId)$https://twitter.com/intent/tweet?in_reply_to=$twitterId$$endif$"><i class="fa fa-l fa-reply"></i>Reply</a>
				</indie-action>
				<indie-action do="repost" with="$permalink$">
					<a href="$if(hasTwitterId)$https://twitter.com/intent/retweet?tweet_id=$twitterId$$endif$"><i class="fa fa-l fa-retweet"></i>Repost</a>
				</indie-action>
				<indie-action do="like" with="$permalink$">
					<a href="$if(hasTwitterId)$https://twitter.com/intent/favorite?tweet_id=$twitterId$$endif$"><i class="fa fa-l fa-star"></i>Like</a>
				</indie-action>
			</div>
			$if(hasSyndication)$
			<div class="entry-syndication">
				<h2>Elsewhere</h2>
				<ul>
					$for(repost in syndication)$
					<li><a class="u-syndication" rel="syndication" href="$repost$">$syndicationName(repost)$</a></li>
					$endfor$
				</ul>
			</div>
			$endif$
			<nav class="entry-nav">
				<h2>Navigation</h2>
				$if(hasPrev)$<a href="$prevHref$" rel="prev"><i class="fa fa-l fa-arrow-left"></i>previous</a>$endif$
				<a rel="up category" class="p-category" href="$categoryHref$">$category$</a>
				$if(hasNext)$<a href="$nextHref$" rel="next">next<i class="fa fa-r fa-arrow-right"></i></a>$endif$
			</nav>
		</footer>
	</article>
</main>
