<%
	var entry = scope.entry, permalink = scope.permalink
	var twitterUrl = _(entry).at('properties.syndication')
		.flatten().find(function (url) { return _.startsWith(url, "https://twitter.com") || _.startsWith(url, "http://twitter.com") })
	var twitterId = twitterUrl ? twitterUrl.match(/.*status\/(.+)/)[1] : null
	var twitterLink = function (act) {
		/* https://dev.twitter.com/web/intents */
		return twitterId
			? 'https://twitter.com/intent/' + act + '?' + (act == 'reply' ? 'in_reply_to' : 'tweet_id') + '=' + twitterId
			: 'https://indiewebcamp.com/indie-config'
	}
%>
<indie-action do="reply" with="${ permalink }">
	<a href="${ twitterLink('reply') }"><svg role="img" class="icon"><use xlink:href="${ window.icons }#reply"/></svg>Reply</a>
</indie-action>
<indie-action do="repost" with="${ permalink }">
	<a href="${ twitterLink('retweet') }"><svg role="img" class="icon"><use xlink:href="${ window.icons }#retweet"/></svg>Repost</a>
</indie-action>
<indie-action do="like" with="${ permalink }">
	<a href="${ twitterLink('favorite') }"><svg role="img" class="icon"><use xlink:href="${ window.icons }#star"/></svg>Like</a>
</indie-action>
