<% var properties = scope.entry.properties %>
<% _.forEach(properties['in-reply-to'], function (reply) { %>
	<div class="reference-context reply-context u-in-reply-to h-cite">
		in reply to
		<% if (_.isObject(reply)) { %>
			<%= templates.citeAuthors({ authors: reply.properties.author }) %>
			<p>
				<a class="p-name u-url" ${ scope.showRel ? 'rel="in-reply-to"' : '' } href="${ _.head(reply.properties.url) }">
					<%- _.head(reply.properties.name) %>
				</a>
			</p>
			<% if (scope.showContent && !_.isEmpty(reply.properties.content)) { %>
				<blockquote class="reply-content">
					<% _.forEach(reply.properties.content, function (content) { %>
						<%= content.html || content.value || content %>
					<% }) %>
				</blockquote>
			<% } %>
		<% } else { %>
			<a class="p-name u-url" href="${ reply }"><%- reply %></a>
		<% } %>
	</div>
<% }) %>
