<% var properties = scope.entry.properties %>
<% _.forEach(properties['in-reply-to'], function (reply) { %>
	<div class="reference-context reply-context u-in-reply-to h-cite">
		In reply to
		<% if (_.isObject(reply)) { %>
			<a class="p-name u-url reply-permalink" ${ scope.showRel ? 'rel="in-reply-to"' : '' } href="${ _.head(reply.properties.url) }">
				a post
			</a>

			<% if (!_.isEmpty(reply.properties.author)) { %>
				by <%= templates.citeAuthors({ authors: reply.properties.author }) %>
			<% } %>

			<blockquote class="e-content">
				<%= templates.showContent({ long: false, properties: reply.properties }) %>
			</blockquote>
		<% } else if (_.isString(reply)) { %>
			<a class="p-name u-url" href="${ reply }"><%- reply %></a>
		<% } else { %>
			something weird
		<% } %>
	</div>
<% }) %>
