<%= templates.header(_.set(scope, 'meta.pageClass', 'h-entry')) %>
<main class="site-main">
	<article class="entry">
		<%= templates.showEntry({ entry: scope.data.entry, permalink: scope.data.permalink, compactView: false }) %>
	</article>
</main>
<%= templates.footer(scope) %>
