			<aside class="site-author h-card" id="author">
				<%= templates.author(scope) %>
			</aside>
		</div>
		<footer class="site-footer">
			Powered by <a href="https://github.com/myfreeweb/sweetroll">Sweetroll</a>, an <a href="http://indiewebcamp.com">#IndieWeb</a> engine.
		</footer>
	</body>
</html>
