			<aside class="site-author h-card p-author" id="author">
				<div class="site-author-block">
					<%= templates.author(scope) %>
				</div>
				<div class="site-meta">
					<%= templates.siteMeta(scope) %>
				</div>
			</aside>
		</div>
		<script defer src="/bower/svgxuse/svgxuse.js?_v=${ bowerHashes['svgxuse/svgxuse.js'] }"></script>
	</body>
</html>
