<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= _(scope.data.titleParts || []).concat(scope.meta.site_name).value().join(' / ') %></title>
		<link rel="openid.delegate" href="${ scope.meta.base_uri }">
		<link rel="openid.server" href="https://indieauth.com/openid">
		<link rel="stylesheet" href="/bower/fontawesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/default-style.css">
		<script>
			if (!('registerElement' in document && 'import' in document.createElement('link')))
				document.write('<script src="/bower/webcomponentsjs/webcomponents-lite.min.js"></sc'+'ript>');
		</script>
		<!-- <link rel="import" href="/bower/lazyload-image/lazyload-image.html"> -->
		<link rel="import" href="/bower/indieweb-components/indie-action.html">
		<link rel="import" href="/bower/indieweb-components/fragmention-target.html">
	</head>
	<body>
		<header class="site-header">
			<h1><a href="/"><%= scope.meta.site_name %></a></h1>
			<a href="#author" id="author-link" onclick="var a=document.getElementById('author');a.setAttribute('tabindex','-1');a.focus()">
				<i class="fa fa-l fa-info-circle"></i><span>Skip to author info</span>
			</a>
		</header>
		<div class="site-content">
