<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<%
			var landingCatName = _.head(scope.meta.categoriesInLanding)
			var currentCatName = _.head(scope.data.categoriesRequested)
			var catTitleParts = _(scope.data.categoriesRequested)
				.filter(function (x) { return x != landingCatName })
				.map(function (x) { return scope.meta.categoryTitles[x] || _.capitalize(x) })
			var entryTitleParts = _.get(scope, 'data.entry.properties.name', [])
		%>
		<title><%- _(entryTitleParts).concat(catTitleParts).concat(scope.meta.siteName).filter(function (p) { return _.trim(p) != '' }).value().join(' / ') %></title>
		<link rel="openid.delegate" href="${ scope.meta.baseUri }">
		<link rel="openid.server" href="https://indieauth.com/openid">
		<link rel="stylesheet" href="/base-style.css">
		<link rel="stylesheet" href="/default-style.css">
		<% scope.meta.categoriesInNav.forEach(function (name) { if (name == currentCatName || name == landingCatName) { %>
		<link rel="alternate${ name == landingCatName && name != currentCatName ? ' home' : '' }" href="/${name}?_accept=application/atom%2Bxml" type="application/atom+xml" title="${scope.meta.categoryTitles[name] || _.capitalize(name)}">
		<% } }) %>
	
		<script>
			if (!('registerElement' in document && 'import' in document.createElement('link')))
				document.write('<script src="/bower/webcomponentsjs/webcomponents-lite.min.js"></sc'+'ript>');
		</script>
		<!-- <link rel="import" href="/bower/lazyload-image/lazyload-image.html"> -->
		<link rel="import" href="/bower/indieweb-components/indie-action.html">
		<link rel="import" href="/bower/indieweb-components/fragmention-target.html">
	</head>
	<body class="${ scope.meta.pageClass }">
		<header class="site-header">
			<h1><a href="/"><%- scope.meta.siteName %></a></h1>
			<a href="#author" id="author-link" onclick="var a=document.getElementById('author');a.setAttribute('tabindex','-1');a.focus()">
				<svg role="img" class="icon"><use xlink:href="/default-icons.svg#info-circle"/></svg><span>Skip to author info</span>
			</a>
		</header>
		<div class="site-content">
