<% var category = scope.category, entries = scope.entries %>
<section class="index-category" id="index-category-${ _.snakeCase(category.name) }">
	<h1><a href="${ category.permalink }"><%- category.name %></a></h1>
	<ul>
		<% _.forEach(category.entryUrls, function (entryUrl) { %>
			<%= templates.entryInList({ meta: scope.meta, entry: entries[entryUrl], permalink: entryUrl }) %>
		<% }) %>
	</ul>
	<nav class="category-nav">
		<% if (category.hasAfter) { %>
			<a href="${ category.afterHref }"><i class="fa fa-l fa-arrow-up"></i>newer</a>
		<% } %>
		<% if (category.hasBefore) { %>
			<a href="${ category.beforeHref }"><i class="fa fa-l fa-arrow-down"></i>older</a>
		<% } %>
	</nav>
</section>
