<%= templates.header(_.set(scope, 'meta.pageClass', 'h-feed')) %>
<% var slices = scope.data.slices, entries = scope.data.entries %>
<main class="site-main index-main">
	<% var landingCatName = _.head(scope.meta.categoriesInLanding) %>
	<% var currentCatName = _.head(scope.data.categoriesRequested) /* This template only shows one category */ %>
	<nav class="main-nav">
		<% scope.meta.categoriesInNav.forEach(function (name) { %>
			<% if (name != currentCatName) { %>
				<a href="/${name != landingCatName ? name : ''}">
			<% } else { %>
				<span class="p-name">
			<% } %>
			<%- scope.meta.categoryTitles[name] || _.capitalize(name)  %><% if (name != currentCatName) { %></a><% } else { %></span><% } %>
		<% }) %>
	</nav>
	<% var slice = slices[currentCatName] %>
	<section class="index-category">
		<% _.forEach(slice.entryUrls, function (entryUrl) { %>
			<article class="h-entry entry">
				<%= templates.showEntry({ entry: entries[entryUrl], permalink: entryUrl, compactView: true }) %>
			</article>
		<% }) %>
		<nav class="category-nav">
			<% if (slice.hasAfter) { %>
				<a href="${ slice.afterHref }" rel="next"><svg role="img" class="icon"><use xlink:href="/default-icons.svg#arrow-up"/></svg>newer</a>
			<% } %>
			<% if (slice.hasBefore) { %>
				<a href="${ slice.beforeHref }" rel="prev"><svg role="img" class="icon"><use xlink:href="/default-icons.svg#arrow-down"/></svg>older</a>
			<% } %>
		</nav>
	</section>
</main>
<%= templates.footer(scope) %>
