<%= templates.header(scope) %>
<main class="site-main index-main">
	<div class="index-categories">
		<% var cat = _.find(scope.data.categories, 'name', 'notes') %>
		<% if (cat) { %>
			<%= templates.indexCategory({ meta: scope.meta, data: cat }) %>
		<% } %>
	</div>
	<div class="index-categories">
		<% _.reject(scope.data.categories, 'name', 'notes').forEach(function (cat) { %>
			<%= templates.indexCategory({ meta: scope.meta, data: cat }) %>
		<% }) %>
	</div>
</main>
<%= templates.footer(scope) %>
