<%= templates.header(scope) %>
<% var categories = scope.data.categories, entries = scope.data.entries %>
<main class="site-main index-main">
	<div class="index-categories">
		<% categories.forEach(function (cat) { %>
			<%= templates.indexCategory({ meta: scope.meta, category: cat, entries: entries }) %>
		<% }) %>
	</div>
</main>
<%= templates.footer(scope) %>
