<% var slice = scope.slice, entries = scope.entries %>
<section class="index-category" id="index-category-${ _.snakeCase(slice.name) }">
	<h1><a href="${ slice.permalink }"><%- slice.name %></a></h1>
	<ul>
		<% _.forEach(slice.entryUrls, function (entryUrl) { %>
			<%= templates.entryInList({ meta: scope.meta, entry: entries[entryUrl], permalink: entryUrl }) %>
		<% }) %>
	</ul>
	<nav class="category-nav">
		<% if (slice.hasAfter) { %>
			<a href="${ slice.afterHref }"><i class="fa fa-l fa-arrow-up"></i>newer</a>
		<% } %>
		<% if (slice.hasBefore) { %>
			<a href="${ slice.beforeHref }"><i class="fa fa-l fa-arrow-down"></i>older</a>
		<% } %>
	</nav>
</section>
