<main class="site-main index-main">
	$for(cat in categories)$
		<section class="index-category">
			<h1><a href="$cat.permalink$">$cat.name$</a></h1>
			<ul>
				$for(entry in cat.entries)$
					$if(entry.isNote)$
					<li class="h-entry entry-in-list note-in-list">
						<div class="e-content p-name">$entry.content$</div>
						<footer class="entry-footer">
							<a class="u-url note-permalink" href="$entry.permalink$">
								<time class="dt-published" datetime="$entry.publishedAttr$">$entry.published$</time>
							</a>
							$if(entry.isReply)$
							in reply to <a class="u-in-reply-to" href="$entry.replyForUrl$">$entry.replyForName$</a>
							$endif$
						</footer>
					</li>
					$else$
					<li class="h-entry entry-in-list article-in-list">
						<a class="u-url p-name" href="$entry.permalink$">$entry.name$</a>
						$if(entry.isReply)$
						<footer class="entry-footer">
							in reply to <a class="u-in-reply-to" href="$entry.replyForUrl$">$entry.replyForName$</a>
						</footer>
						$endif$
					</li>
					$endif$
				$endfor$
			</ul>
		</section>
	$endfor$
</main>
