<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>$meta_title$</title>
		<link rel="openid.delegate" href="$base_url$" />
		<link rel="openid.server" href="https://indieauth.com/openid" />
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/default-style.css" />
	</head>
	<body>
		<header class="site-header">
			<h1><a href="/">$website_title$</a></h1>
		</header>
		<div class="site-content">
			<aside class="site-author h-card">
				$author$
			</aside>
			$content$
		</div>
		<footer class="site-footer">
			Powered by <a href="https://github.com/myfreeweb/sweetroll">Sweetroll</a>, an <a href="http://indiewebcamp.com">#IndieWeb</a> engine.
			<!-- form action="https://indieauth.com/auth" method="get">
			<button type="submit">Sign In</button>
			<input type="hidden" name="me" value="$domain$" />
			<input type="hidden" name="client_id" value="$base_url$" />
			<input type="hidden" name="redirect_uri" value="$base_url$/login" />
			</form -->
		</footer>
	</body>
</html>
