<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		{{#isCategoryPage}}
			<h1>{{categoryName}}</h1>
			{{#entries}}
				<h2>{{name}}</h2>
			{{/entries}}
		{{/isCategoryPage}}
		{{#isEntryPage}}
		<article class="h-entry">
			<header>
				{{#isArticle}}<h1 class="p-name">{{name}}</h1>{{/isArticle}}
				published <time class="dt-published" datetime="{{publishedAttr}}">{{published}}</time>
				{{#inReplyTo}}{{#citeHref}}in reply to <a class="u-in-reply-to" href="{{citeHref}}">{{citeText}}</a>{{/citeHref}}{{/inReplyTo}}
				{{#likeOf}}{{#citeHref}}like <a class="u-like-of" href="{{citeHref}}">{{citeText}}</a>{{/citeHref}}{{/likeOf}}
				{{#repostOf}}{{#citeHref}}repost of <a class="u-repost-of" href="{{citeHref}}">{{citeText}}</a>{{/citeHref}}{{/repostOf}}
			</header>
			<div class="e-content{{#isNote}} p-name{{/isNote}}">
				{{{content}}}
			</div>
		</article>
		{{/isEntryPage}}
	</body>
</html>
