<% if (_.isEmpty(scope.reactions)) { %><% } else { %>
	<section class="entry-facepile">
		<% if (scope.icon) { %>
			<svg role="img" class="icon" title="${ scope.name }">
				<use xlink:href="${ window.icons }#${ scope.icon }"/>
				<title>${ scope.name }</title>
			</svg>
		<% } else { %>
			<%- scope.name %>
		<% } %>
		<% _.forEach(scope.reactions, function (entry) { %>
			<a href="${ onlyHttpUrl(_.get(entry, 'properties.url[0]', '')) }" class="${ scope.prop } h-cite">
				<%
					var author = _.get(entry, 'properties.author[0]', {})
					var authorName = _.get(author, 'properties.name[0]', 'Someone')
				%>
				<span class="p-author h-card">
					<img alt="${ authorName }" title="${ authorName }" src="<%- templates.showAvatar({ authors: _.get(entry, 'properties.author', []) }) %>" class="facepile-avatar u-photo p-name">
					<% if (!_.isEmpty(author.url)) { _.forEach(author.url, function (url) { %><data class="u-url" value="${ url }"></data><% }) } %>
				</span>
			</a>
		<% }) %>
	</section>
<% } %>
