This website supports <a href="https://webmention.net">Webmentions</a>!
Because it's powered by <a href="https://github.com/myfreeweb/sweetroll">Sweetroll</a>, an <a href="https://indieweb.org">#IndieWeb</a> engine.
